

.block {
background-color: aquamarine;
width: 90px;
height: 90px;
}
.list {
    display: grid;
    grid-template-columns: 150px 150px 150px ;
    gap: 10px;
}
.active {

    background-color: brown;
    width: 90px;
height: 90px;
}